@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=DM+Serif+Display:ital@1&family=Gowun+Dodum&family=Merriweather:ital,wght@1,700&family=Noto+Serif+KR:wght@500&family=Single+Day&family=Song+Myung&display=swap');

/*font-family: 'Caveat', cursive;
font-family: 'DM Serif Display', serif;
font-family: 'Gowun Dodum', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Single Day', cursive;
font-family: 'Song Myung', serif;;*/

@font-face {
    font-family: 'NanumSquareNeoTTF-EB';
    src: url('./NanumSquareNeoTTF-dEb.woff')
    format('woff');
    font-weight: nomal;
    font-size: nomal;
  }

  @font-face {
    font-family: 'NanumSquareNeoTTF-B';
    src: url('./NanumSquareNeoTTF-bRg.woff')
    format('woff');
    font-weight: nomal;
    font-size: nomal;
  }

  @font-face {
    font-family: 'Binggrae-B';
    src: url('./BinggraeII-Bold.otf')
    format('woff');
    font-weight: nomal;
    font-size: nomal;
  }


  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Binggrae-B";
    margin: 0;
    padding: 0;
    background-image: url("../images/sign/cloud.png") ;
    background-color: #fff;
    background-size:cover;
    background-position: center;
    opacity: 60%;
  }



  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 100%;


}

  .container {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
    position: absolute;
    width: 1000px;
    min-height: 600px;
    overflow: hidden;
    

  }
  form {
    background: #ebecf0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
  overflow: hidden;}

.creat_font {margin-top: 40px;
text-align: left;}

  form input {
    background: #eee;
    padding: 16px;
    margin: 8px 0;
    width: 90%;
    height: 5vh;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
  }

  .input_div {
    justify-content: center;
    text-align: center;
  }

.phon_div {width: 80%;}

.input_phone {
  width: 80%;
  }

  button {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
  }

  .form_btn {
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .form_btn:active, .from_phone:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
  }

.from_phone {
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  width: 20%;
  padding: 3;
  margin: 3;
}

  .overlay_btn {
    background-color: #b85addbb;
    color: #fff;
    box-shadow: -5px -5px 10px #9233c9, 5px 5px 8px rgba(91, 29, 172, 0.443)
  }
  .sign-in-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
  }
  .sign-up-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
  }
  .overlay-left {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("../images/sign/sgin4.jpg");
    color: #fff;
    transition: all 0.5s;
  }
  .overlay-right {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("../images/sign/sgin4.jpg");
    color: #fff;
  
    transition: all 0.5s;
  }
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
  }
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
  }
  .container.right-panel-active .overlay-right {
    transform: translateX(-100%);
    opacity: 0;
  }
  .container.right-panel-active .overlay-left {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
  }
  .social-links {
    margin: 20px 0;
  }

  .sign_icon {color: #000;}

  form h1 {
    font-weight: bold;
    margin: 0;
    color: #000;
  }
  
  p {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  span {
    font-size: 12px;
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  .social-links div {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    cursor: pointer;
  }
  .social-links a {
    color: #000;
  }
  .social-links div:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
  }
  

label {
  font-family: sans-serif;
  color: pink;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.checkbox {
  display: inline;
  white-space: nowrap;
  position: relative;
  left: -62px;
  top: 5px;
}

input[type=checkbox] {
  width: 7px;
  background: pink;
}

.checkbox input[type="checkbox"]:checked + label {
  color: pink;
  transition: .5s all ease;
}

.sign_in_cs {padding: 10px;
margin: 10px;}

input {font-family: 'NanumSquareNeoTTF-EB';}

/* 밑줄없애기 */

.a_link {text-decoration: none;
color: #000;}

/* 미디어쿼리 */

/* 모바일 s-l */
@media all and (min-width:319px) and (max-width:767px){

.container {
  max-width: 300px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

img {
  max-width: 100%; /* 최대 너비를 부모 요소에 맞춤 */
  height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
}

.sign-up-container, .overlay-container{
  display: none;
}

.sign-in-container {
  width: 100%;
  height: 600px;
}


  }
  
    /* Tablet &amp; Desktop Device */
  @media all and (min-width:768px) and (max-width:1023px){
    .signup320 {
      display: none;
    }
  }
  
    /* Tablet Device */
  @media all and (min-width:1024px) and (max-width:1043px) {
    .signup320 {
      display: none;
    }
  
  }
  
    /* Desktop Device */
  @media all and (min-width:1440px) and (max-width:3000px) {
 .signup320 {
      display: none;
    }
  }


