@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Gowun+Dodum&family=Merriweather:ital,wght@1,700&family=Noto+Serif+KR:wght@500&family=Single+Day&family=Song+Myung&family=DM+Serif+Display:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');


/*font-family: 'Caveat', cursive;
font-family: 'DM Serif Display', serif;
font-family: 'Gowun Dodum', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Single Day', cursive;
font-family: 'Song Myung', serif;;*/

@font-face {
    font-family: 'NanumSquareNeoTTF-EB';
    src: url('./NanumSquareNeoTTF-dEb.woff')
    format('woff');
    font-weight: nomal;
    font-size: nomal;
  }

  @font-face {
    font-family: 'NanumSquareNeoTTF-B';
    src: url('./NanumSquareNeoTTF-bRg.woff')
    format('woff');
    font-weight: nomal;
    font-size: nomal;
  }

  @font-face {
    font-family: 'Binggrae-B';
    src: url('./BinggraeII-Bold.otf')
    format('woff');
    font-weight: nomal;
    font-size: nomal;
  }


/* 전체 마진패딩 */
.new_item_list, #event_banner, .best_banner, .gift_banner, .foottet_banner{
  margin-top: 150px;
  margin-left: 120px;
  margin-right: 120PX;
}


/* 폰트 */
body {
  font-family: 'NanumSquareNeoTTF-B';
}

h1, h2{
    font-family: 'NanumSquareNeoTTF-EB';
}

.best_banner > section > div > h1 {
  font-family: 'Shadows Into Light';
  text-align: left;
  font-size: 60px;
  padding: 40px;}
.best_banner > section > div > p {font-family: 'Gowun Batang', serif;}


 h2 {
  font-size: 70px;
  font-family: 'Song Myung';
  background-size: contain;
  color: #ad7bc4;
  text-shadow: -.030em .030em #EEEEEE, -.06em .06em #707070;
  border: none none none 2px solid #ad7bc4;}

.vd_textbox{top: 10px;
  left: 10px;}

.vd_text{
  font-family: 'Merriweather';
  text-shadow: 1px 1px 2px pink;
}

.vd_text2{
  font-family: 'Noto Serif KR';
  text-shadow: 1px 1px 2px rgb(148, 127, 130);
  opacity: 80%;
}



/* 메인 배너 */
.video_sec {
position: relative;}

video {
    border-bottom-left-radius:10rem;
    border-bottom-right-radius:10rem;
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}

.container-fluid {
  position: relative;
}

.vd_text{ position: absolute; 
top: 50%; width: 100%; }



/* 로고  */
.logo {
    position:relative;
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* top:40px;
    width:70px;
    height: 70px;
    left: 20px;
    right: 10px; */
}

.logo2 {
margin-top: 100px;
margin-bottom: 80px;
}



/* 네비게이션 */
nav {background-color:#c389c4;
height: 40px;
opacity: 70%;
position: fixed;}
.nav-icon {filter: contrast(200%);}


/*메뉴 CSS*/
li{list-style:none;
  text-align: center;}
  a{text-decoration:none;}

  #menu {
    position: relative;
    margin-top: 100px;
    width: 60%;
    z-index:1;}
  
  .menubar {
    margin-top: 100px;
    margin-bottom:80px;}
  
    .menu_w {
      overflow: hidden;
      padding: 0px;
      width: 100%;
      position: absolute;
        }
    
  .menu_w > li {
    width: 20%;
    float: left;
    background-color: #BE8EBF;
    border: 0.01rem solid #eeebeb27;

    }
    
  .menu_w a {
  color: #fff;
    }
    
  .submenu_w > li {
   line-height: 40px;
    background-color: #c6a4c7;  
    border: 0.01rem solid #eeebeb27;
    }
     
  
    .submenu_w {
      height: 0;
      overflow: hidden;
      padding: 0;
    }
  
    .menu_w > li:hover {
      background-color: #BE8EBF;
      transition-duration: 0.5s;
      opacity: 90%;
      position: relative;
    }
    
    .menu_w > li:hover .submenu_w {
      height: 130px; /*서브메뉴 li한개의 높이 50*5*/
      transition-duration: 1s;
      position: relative;}

      .menu_w > li:hover:nth-child(5) .submenu_w {
        height: 90px; /*서브메뉴 li한개의 높이 50*5*/
        transition-duration: 1s;
        position: relative;}
  

/* 메뉴 세로 영역 */

.menu_h {
  width: 150px;
  opacity: 70%;
  padding: 0;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color:   #BE8EBF;
  margin-bottom: 100px;
}
    
.menu_h> li {
  width: 150px;
  text-align: center;
  line-height: 50px;

  border:0.5px solid #fff;
  border-style: none none solid none;
 
    }
  
.menu_h a {
  color: #fff;
}
    
.submenu_h > li {
line-height: 50px;
background-color: #c6a4c7;
border-bottom-left-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;
}

.submenu_h {
height: 0; /*ul의 높이를 안보이게 처리*/
overflow: hidden;
padding: 0;
}

.menu_h > li:hover {
background-color: #d1b1d1;
transition-duration: 1s;
border-bottom-left-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;
}
    
.menu_h > li:hover .submenu_h {
height:50px; /*서브메뉴 li한개의 높이 50*5*/
transition-duration: 3s;}


 /* 검색창 */
.search-box{
position:relative;
top: 100%;
left: 50%;
transform: translate(-50%,-50%);
height: 50px;
background-color: #fff;
border: 1px solid #BE8EBF;
border-radius: 30px;
transition: 0.4s;
width:30px;
align-items: center;
margin-top: 100px;
margin-bottom: 80px;
width: 600px;
}
.search-box:hover{
  box-shadow: 0px 0px .5px 1px #BE8EBF;
  width: 600px;
}
.search-btn{
  text-decoration: none;
  float: right;
  top: 100%;
  left: 65%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c6a4c7;
}
.search-box:hover > .search-btn{
  background-color: #fff;
}
.search-txt{
  display: flex;
  padding: 0;
  width: 0px;
  border:none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: .4s;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}


/* new_item */

.new_item_list {
  margin-top: 150px;
  margin-bottom: 30px;
}
.new_text {margin-left: 200px;}

.newitem, .newitem3{
  width: 500px;
  height: 700px;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.newitem2{
  width: 500px;
  height: 700px;
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}



/* 실시간채팅 */
#live-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;

  border: none;
  border-radius: 40px;
  background: rgb(148, 119, 180);
  color: white;
  padding: 12px;
  font-weight: bold;
  box-shadow: 0vw 5vw 15vw gray;
  cursor: pointer;
  z-index:1;
  opacity: 80%;
}

.live_icon{
  width: 50px;
  height: 50px;
  filter: brightness(200%);
  
}


  /* 채팅창이 처음에는 숨겨져 있도록 설정 */


/* 대화창 */


.r-nav{    position: absolute;
  right: 9px;
  width: 100px;
  top: 0px;
  height: 45px;
  } 

.r-nav li {
  list-style: none;
  float:right;
  display: inline-block;
  width: 30px;
  text-align: center;
}
.r-nav li a {
     margin: 0;
  padding: 0;
  line-height: 18px;
  font-size: 16px;
  color: #979797;
 
}

.bg {
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
background: url(../img/bg.png) no-repeat 0 0;
 
-webkit-filter: blur(30px);
        filter: blur(30px);
-webkit-transform: scale(1.2);
        transform: scale(1.2);
}


.loading-img{ width: 100px;
  display: inline;
  margin: 10px 80px;
  height: 100px;}


.buttonx {
  background: #0070ff;;
  padding: 5px 30px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #0070ff;
  color: #fff;
  border-radius: 10px;
}

.buttony { background: transparent;
  padding: 5px 30px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #0070ff;
color: #0070ff;;
  border-radius: 10px;
}


.oracle-search{width: 100%;
  margin: 7px auto;
  height: 29px;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  background: rgba(68, 68, 68, 0.47);}

/*--------------------
Chat
--------------------*/


input[type="range"] {
-webkit-appearance: none;
  width: 340px;
  height: 2px;
  background: #0070ff;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  bottoM: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: block;
  margin-top: 60px;
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
width: 20px;
height: 20px;
border-radius: 100%;
background: #434343;
position: relative;
border: 3px solid #0070ff;
z-index: 3;
cursor: pointer; 
content: counter(3)
}




.chat {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
width: 400px;
height: 80vh;
max-height: 500px;
z-index: 2;
overflow: hidden;
box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
background: rgb(236, 232, 232,0.6);
border-radius: 20px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
-webkit-box-flex: 0;
    -ms-flex: 0 1 45px;
        flex: 0 1 45px;
position: relative;
z-index: 2;
background: rgba(0, 0, 0, 0.2);
color: #fff;
text-transform: uppercase;
text-align: left;
padding: 10px 10px 10px 50px;
}
.chat-title h1, .chat-title h2 {
font-weight: normal;
font-size: 10px;
margin: 0;
padding: 0;
}
.chat-title h2 {
color: rgba(255, 255, 255, 0.5);
font-size: 8px;
letter-spacing: 1px;
}
.chat-title .avatar {
position: absolute;
z-index: 1;
top: 8px;
left: 9px;
border-radius: 30px;
width: 30px;
height: 30px;
overflow: hidden;
margin: 0;
padding: 0;
border: 2px solid rgba(255, 255, 255, 0.24);
}
.chat-title .avatar img {
width: 100%;
height: auto;
}

/*--------------------
Messages
--------------------*/
.messages {
-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
color: rgba(255, 255, 255, 1);
overflow: hidden;
position: relative;
width: 100%;
}
.messages .messages-content {
position: absolute;
top: 0;
left: 0;
height: 101%;
width: 100%;
}
.messages .message {
clear: both;
float: left;
padding: 6px 10px 7px;
border-radius: 10px 10px 10px 0;
background: rgba(164, 145, 196, 0.8);
margin: 8px 0;
font-size: 14px;
line-height: 1.4;
margin-left: 35px;
position: relative;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.messages .message .timestamp {
position: absolute;
bottom: -15px;
font-size: 9px;
color: rgba(255, 255, 255, 0.3);
}
.messages .message::before {
content: '';
position: absolute;
bottom: -6px;
border-top: 6px solid rgba(164, 145, 196, 0.8);
left: 0;
border-right: 7px solid transparent;
}
.messages .message .avatar {
position: absolute;
z-index: 1;
bottom: -15px;
left: -35px;
border-radius: 30px;
width: 30px;
height: 30px;
overflow: hidden;
margin: 0;
padding: 0;
border: 2px solid rgba(24, 23, 23, 0.24);
}
.messages .message .avatar img {
width: 100%;
height: auto;
}
.messages .message.message-personal {
float: right;
color: #fff;
text-align: right;
background: -webkit-linear-gradient(330deg, #c292d1, #764f91);
background: linear-gradient(120deg, #c292d1, #764f91);
border-radius: 10px 10px 0 10px;
}
.messages .message.message-personal::before {
left: auto;
right: 0;
border-right: none;
border-left: 5px solid transparent;
border-top: 4px solid #764f91;
bottom: -4px;
}
.messages .message:last-child {
margin-bottom: 30px;
}
.messages .message.new {
-webkit-transform: scale(0);
        transform: scale(0);
-webkit-transform-origin: 0 0;
        transform-origin: 0 0;
-webkit-animation: bounce 500ms linear both;
        animation: bounce 500ms linear both;
}
.messages .message.loading::before {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
content: '';
display: block;
width: 3px;
height: 3px;
border-radius: 50%;
background: rgba(255, 255, 255, 0.5);
z-index: 2;
margin-top: 4px;
-webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
border: none;
-webkit-animation-delay: .15s;
        animation-delay: .15s;
}
.messages .message.loading span {
display: block;
font-size: 0;
width: 20px;
height: 10px;
position: relative;
}
.messages .message.loading span::before {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
content: '';
display: block;
width: 3px;
height: 3px;
border-radius: 50%;
background: rgba(255, 255, 255, 0.5);
z-index: 2;
margin-top: 4px;
-webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
margin-left: -7px;
}
.messages .message.loading span::after {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
content: '';
display: block;
width: 3px;
height: 3px;
border-radius: 50%;
background: rgba(255, 255, 255, 0.5);
z-index: 2;
margin-top: 4px;
-webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
margin-left: 7px;
-webkit-animation-delay: .3s;
        animation-delay: .3s;
}

/*--------------------
Message Box
--------------------*/
.message-box {
-webkit-box-flex: 0;
    -ms-flex: 0 1 40px;
        flex: 0 1 40px;
width: 100%;
background: rgba(172, 167, 167, 0.411);
padding: 10px;
position: relative;
}
.message-box .message-input {
background: none;
border: none;
outline: none !important;
resize: none;
color: rgb(255, 255, 255);
font-size: 11px;
height: 17px;
margin: 0;
padding-right: 20px;
width: 265px;
}
.message-box textarea:focus:-webkit-placeholder {
color: transparent;
}
.message-box .message-submit {
position: absolute;
z-index: 1;
top: 9px;
right: 10px;
color: #fff;
border: none;
background: #b58bc2;
font-size: 10px;
text-transform: uppercase;
line-height: 1;
padding: 6px 10px;
border-radius: 10px;
outline: none !important;
-webkit-transition: background .2s ease;
transition: background .2s ease;
}
.message-box .message-submit:hover {
background: #9266bb;
}

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
margin: 1px -3px 1px 0;
opacity: 0;
}

.mCSB_inside > .mCSB_container {
margin-right: 0px;
padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
background-color: rgba(19, 123, 131, 0.5) !important;
}

/*--------------------
Bounce
--------------------*/
@-webkit-keyframes bounce {
0% {
  -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
4.7% {
  -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
9.41% {
  -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
14.11% {
  -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
18.72% {
  -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
24.32% {
  -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
29.93% {
  -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
35.54% {
  -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
41.04% {
  -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
52.15% {
  -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
63.26% {
  -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
85.49% {
  -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
100% {
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
}
@keyframes bounce {
0% {
  -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
4.7% {
  -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
9.41% {
  -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
14.11% {
  -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
18.72% {
  -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
24.32% {
  -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
29.93% {
  -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
35.54% {
  -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
41.04% {
  -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
52.15% {
  -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
63.26% {
  -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
85.49% {
  -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
100% {
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
}
@-webkit-keyframes ball {
from {
  -webkit-transform: translateY(0) scaleY(0.8);
          transform: translateY(0) scaleY(0.8);
}
to {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
}
@keyframes ball {
from {
  -webkit-transform: translateY(0) scaleY(0.8);
          transform: translateY(0) scaleY(0.8);
}
to {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
}

.modal_wrap {
  display:none;
  width:500px;
  height:500px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-250px 0 0 -250px;
  background-color:transparent;
  z-index:2;}

  .black_bg{display:none;
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background-color:transparent;
    top:0;
    left:0;
    z-index:1;}




/* 이벤트영역 */
.event_photo{
  text-align: center;
  width: 100%;
  height: auto;
  justify-content: center;
}

.event {
border-top-right-radius: 5rem;
border-bottom-left-radius: 5rem;
border:3px solid #eaeaea;
justify-content: center;
}


.cicle {
  border: #ffffff;
  position: relative;
}

/* 베스트영역 */

#best {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 50px;
}

.info h1 {
  font-family: 'DM Serif Display';
  text-align: center;
}

.info p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.split-beer {
  display: flex;
  flex-direction: row;
}

.beer {
  width: 300px;
  height: 600px;
  margin-left: 15px;
  width: 100%;}

.beer:nth-child(2) {
  transform: translateY(-1.5rem);
}

.button explore {
  font-display: none;
}

/* gift 영역*/

.wrap { 
  display: flex; 
  overflow: hidden;
  margin-bottom: 100px;
  
}
.wrap .rolling-list ul { 
	display: flex;
}
.wrap .rolling-list ul li { 
	width: 589px; 
	height: 276px; 
    box-sizing: border-box; 
    border-radius: 20px; 
    margin: 50px;  
    display: flex; 
    align-items: center; 
    flex-shrink: 0; 
    padding: 0;
}

.giftitem {
  width: 300px;
  height: 180px;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border: 6px rgb(174, 133, 157);
  border-style: none none solid none;
}


.wrap .rolling-list ul li .image-wrap { 
	padding-right: 20px; 
    width: 200px; 
    flex-shrink: 0; 
}
.wrap .rolling-list ul li .image-wrap > img { 
	width: 100%;
}
.wrap .rolling-list ul li .desc { 
  text-align: left;
}
.wrap .rolling-list ul li .desc strong { 
	display: block; 
    font-size: 25px; 
    margin-bottom: 24px;
}
.wrap .rolling-list ul li .desc span { 
	font-size: 20px;
    line-height: 1.2;
}

.rolling-list.original {
	animation: rollingleft1 33s linear infinite;
}
.rolling-list.clone {
	animation: rollingleft2 33s linear infinite;
}

@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
}

 /* 풋터 */
 .footter_text {text-align: left;}
 .youtube, .insta, .blog {
   color: #fff;
   border:3px solid#d8d820;
   border-radius:30px;
   position: relative;
 }
 .Copyright {font-size: 1rem;
 text-align: center;}

footer {padding-top: 20px;
}


.title_font {
 position: absolute;
} 

.ico_list {
 margin-top: 40px;
 list-style-type: none;
 padding-right: 30px;
}

footer {
 background-color: #BE8EBF;
 opacity: 80%;
}
.foottet_banner {
  margin-top: 0;
}
.about_list {
 list-style-type: none;
 padding-right: 20px;
}

/* Mobile Device */
@media all and (min-width:320px) and (max-width:767px) {
  /*화면의 너비가 320-767*/
  #menu{display : none;}
  .newitem, .newitem3{display : none;}
  .bestitem_sub{text-align:center;}
  .giftitem  {
  margin-top: 20px;
  margin-left: 45px;
  margin-right: 45px;}

 .newitem2{
    width: 130px;
    height: 300px; 
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;} 
    .new_text {
      padding: 0;
      margin: 0;}
    

  .carousel-inner {width: 320px;
    justify-content: center;
    align-items: center;}

  .new_item_list {
    justify-content: center;
    padding: 0;
    margin: 0;
    position: relative;}

  .homeend {
    justify-content: center;
    width: 320px;
    position: relative;}

    #event_banner {
      justify-content: center;
      padding: 0;
      margin: 0;
      position: relative;}

      .event {border-radius: 0;}

 #best_banner {
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;}

#gift_banner {  
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;}

/* 비디오 텍스트 */
.vd_text, .vd_text2 {
  font-family: 'Noto Serif KR';
  text-shadow: 1px 1px 2px rgb(148, 127, 130);
  opacity: 80%;
  font-size: 1rem;
  top:auto;}
  
  .vd_text {
    font-family: 'Merriweather';
    text-shadow: 1px 1px 2px pink;
    font-size: 1rem;
    padding: 0px auto;
    margin: 0px auto;
    position: relative;
    text-shadow: 3px 2px 6px pink;
  }

   /* 검색창 */
.search-box{
  width: 300px;
  }
  .search-box:hover{
    width: 300px;
  }
  .search-box:hover > .search-txt{
    width: 150px;
  }

  /* 메인 제목 */
  .new_item_list > h2 , p, 
  #event_banner>div>h2, 
  #best, 
  .gift {text-align: center;}

  /* 풋터 */
  .footter_text {text-align: left;}
  .youtube, .insta, .blog {
    color: #fff;
    border:3px solid#d8d820;
    border-radius:30px;
  }
  .Copyright {font-size: 1rem;
  text-align: center;}

  footer {
    background-color: #BE8EBF;
    opacity: 80%;
  }
  
  .title_font {
    position: absolute;
  } 
  
  .ico_list {
    margin-top: 40px;
  }

  }


  /* Tablet &amp; Desktop Device */
@media all and (min-width:768px) and (max-width:1023px){
  /*화면의 너비가 768-1024*/
    #menu2{display : none;}
    .menu_h{display : none;} 
    .logo2 {display: none;}
    .newitem3{display : none;}
    .newitem, .newitem2 {width: 230px;
      height: 300px; } 
    .menu_w {
      width: 650px;
    }

  .event {
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 100%;}

  #event_banner {
    padding: 0;
    margin: 0;
  }
}
  /* Tablet Device */
@media all and (min-width:1024px) and (max-width:1043px) {
    #menu2{display : none;}
    .menu_h{display : none;}
    .newitem, .newitem2, .newitem3 {width: 230px;
      height: 300px; } 
      .menu_w {
        width: 900px;
        line-height: 50px;
        align-items: center;
      }
      #event_banner {
        padding: 0;
        margin: 0;
      }
  }

  /* Desktop Device */
@media all and (min-width:1044px) and (max-width:3000px) {
  #menu2{display : none;}
  .menu_h{display : none;}
  .menu_w {
    overflow: hidden;
    padding: 0px;
    width: 1200px;
    position: absolute;
  }
  
.menu_w > li {
  width: 20%;
  float: left;
  line-height: 40px;
  background-color: #BE8EBF;
  border: 0.01rem solid #eeebeb27;
  }
  .newitem, .newitem2, .newitem3 {width: 300px;
    height: 400px; } 
    #event_banner {
      padding: 0;
      margin: 0;
    }
}
